<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lanou.project.chanyouji">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RaidersActivity.CountryBriefActivity" />
        <activity android:name=".RaidersActivity.CityRaidersActivity" />
        <activity android:name=".RaidersActivity.CityTravelActivity" />
        <activity android:name=".RaidersActivity.CityRouteActivity" />
        <activity android:name=".RaidersActivity.CityFeaturesActivity" />
        <activity android:name=".RaidersActivity.CityRaidersItemActivity" />
        <activity android:name=".RaidersActivity.CityRaidersItemListItemActivity" />
        <activity android:name=".RaidersActivity.CityRaidersItemListItemListItemActivity"></activity>
        <activity android:name=".RaidersActivity.CityTravelListItemActivity"></activity>
    </application>

</manifest>