<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lanou.project.chanyouji">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/tubiao_one"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RaidersActivity.CountryBriefActivity" />
        <activity android:name=".RaidersActivity.CityRaidersActivity" />
        <activity android:name=".RaidersActivity.CityTravelActivity" />
        <activity android:name=".RaidersActivity.CityRouteActivity" />
        <activity android:name=".RaidersActivity.CityFeaturesActivity" />
        <activity android:name=".RaidersActivity.CityRaidersItemActivity" />
        <activity android:name=".RaidersActivity.CityRaidersItemListItemActivity" />
        <activity android:name=".RaidersActivity.CityRaidersItemListItemListItemActivity"></activity>

        <activity android:name=".RaidersActivity.CityTravelListItemActivity"></activity>

        <activity android:name=".ToolActivity.CityActivity" />
        <activity android:name=".ToolActivity.JiLuActivity" />
        <activity android:name=".ToolActivity.AddBuyActivity" />
        <activity android:name=".ToolActivity.RateToolActivity" />
        <activity android:name=".ToolActivity.ToolMapActivity"></activity>

        <activity android:name=".TraveNotesActivity.SpecificsActivity" />
        <activity android:name=".TraveNotesActivity.WriterActivity" />


        <meta-data android:name="com.baidu.lbsapi.API_KEY"
            android:value="u27mtfIgETjQ61tvxoQXkt7QhEyBWG5I"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
    </application>

</manifest>